<h3 class = "h3text">Upload</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_1_upload.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_1_upload.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Select</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_2_select.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_2_select.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Filter</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_3_filtering.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_3_filtering.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Grouping</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_4_grouping.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_4_grouping.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Box-Whisker plot</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_5_boxwhisker.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_5_boxwhisker.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Bar plot</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_6_barplot.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_6_barplot.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Distribution analysis</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_7_distributions.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_7_distributions.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Principal Component Analysis (PCA)</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_8_PCA.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_8_PCA.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Gene usage</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_9_usage.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_9_usage.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Dendrogram</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_10_dendrogram.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_10_dendrogram.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">t-SNE</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_3_11_tSNE.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_3_11_tSNE.ogg" type = "video/ogg">
</video>
<br /><br /><br />