<h3 class = "h3text">Upload</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_2_1_upload.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_2_1_upload.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Extract</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_2_2_extract.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_2_2_extract.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Calculate properties</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_2_3_property.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_2_3_property.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Clonotype clustering</h3>
<br />
<video width="940" controls class = "videoInText" preload = "none">
  <source src = "videos/BRepertoire_videos_2_4_clonotype.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_2_4_clonotype.ogg" type = "video/ogg">
</video>
<br /><br /><br />