<br /><br />
<div class = "mainTextDiv">

  <h2 style = "font-family: Bedrock, Georgia, Times; font-weight: bold">Welcome to BRepertoire,</h2>
  <br />
  <p>a webserver for exploring antibody repertoire data! It facilitates repertoire data parsing and format transcription, computes various physico-chemical properties for your sequences, offers "data-massaging" / preparation functions, supports  clonotype clustering and offers a set of analysis and plotting functions to help you examine your data set. This server has been implemented in R shiny (using numerous R packages) in the groups of <a href = "http://fraternalilab.kcl.ac.uk" target = "_blank">Franca Fraternali</a> (King&#039;s College London) and <a href = "https://www.surrey.ac.uk/people/deborah-dunn-walters" target = "_blank">Deborah Dunn-Walters</a> (University of Surrey) in the context of the <a href = "http://www.bcell.org.uk/mabra.html" target = "_blank">MABRA</a> consortium. The server is actively developed and we would be grateful, if you contact us in case you encounter a bug or would like to request a feature for a future version (<a id = "hyperlink_to_contact" class = "action-button" href = "#">contact form</a>).<br /><br />In order to help you with your first steps, we have implemented numerous <a id = "hyperlink_to_text_tutorial" class = "action-button" href = "#" >text-based</a> and <a id = "hyperlink_to_video_tutorial" class = "action-button" href = "#">video tutorials</a> as well as a <a id = "hyperlink_to_live_tutorial" class = "action-button">live tutorial</a> and provide the associated test input with which you should be able to follow the tutorials step-by-step. For more information in terms of <a id = "hyperlink_to_literature" class = "action-button" href = "#">literature</a> and <a id = "hyperlink_to_materials" class = "action-button" href = "#">materials</a> used and the <a id = "hyperlink_to_patchnotes" class = "action-button" href = "#">server's versions</a>, please see the respective pages under "About".</p>
  <br />
  <p>If you use BRepertoire for your work, please cite:</p>
  <div id = "bib_style">
  <ol>
    <li><span class = "name">Christian Margreitter, Hui-Chun Lu, Catherine Townsend, Alexander Stewart, Deborah K. Dunn-Walters and Franca Fraternali</span>: <span class = "title">"BRepertoire: A user-friendly web server for analysing antibody repertoire data"</span> <span class = "journal">NAR webserver issue, 2018</span> &#91;<a href = "http://dx.doi.org/10.1093/nar/gky276" target = "_blank">link</a>&#93;
    </li>
  </ol>
  </div>
  <br />
  <p>Currently, the server has three separate branches: the parsing of <a id = "hyperlink_to_IMGTworkline" class = "action-button" href = "#">IMGT/V-Quest data</a>, <a id = "hyperlink_to_calculationsworkline" class = "action-button" href = "#">the calculation of properties</a> and <a id = "hyperlink_to_analysisworkline" class = "action-button" href = "#">data analysis</a>. The branches can be combined in a subsequent manner as shown in the figure, but are actually independent from one another. Note, that red nodes represent optional steps. The major data structure is a table holding the observations in rows, which can be imported / exported as a CSV spread-sheet at any point in time. Based on these data, the calculation and analysis steps can be performed, which produce plots, which are directly shown in the browser window, and statistical and other data. Both can be downloaded. Note, that no data are stored on our server, except for necessary temporary files.</p>
  <br /><br />
  <img src = "img/BRepertoire_workflow.png" border = "0" class = "imgInText">
  <br /><br /><br />
</div>