<h3 class = "h3text">Upload</h3>
<br />
The purpose of the "IMGT/V-Quest management" branch of BRepertoire is to load, parse and extend the output provided by the IMGT server for further analysis. Please have also a look at the flowchart on the start page to get an idea on the workflow. Usually, experiments provide a collection of nucleic acid sequences of varying quality typically in the FASTA format. After some sanity checks and quality control measures, these sequences can be submitted to the IMGT/V-Quest server, where various meta-data are calculated based on the most likely V(D)J matches to the sequence. We have prepared example data obtained from IMGT/V-Quest which you can use to test the server. To load our test input file, please click here now. The format of the output is quite complex. Eleven different files hold spread-sheets with pre-defined column names. We have compiled and pre-selected some columns that we find useful, you may wish to add further columns depending on the aims of your analysis. Note that you can see the resulting combined table on the right-hand side. You can download the table holding the selected data by on the respective button. With the selection of the required columns, you have completed this step and we suggest you proceed to the "Annotate" tutorial now.
<br /><br /><br />
<img src="img/tutorials/imgTutorial_1_1_upload.png" class = "imgInText" />
<br /><br /><br />

<h3 class = "h3text">Annotation</h3>
<br />
Besides transcribing the desired IMGT/V-Quest output into one spread-sheet of selected columns, the "IMGT/V-Quest Management" branch also allows the combination of two spread-sheets by matching their first columns' entries. Imagine a case where you want to include additional columns in your dataset to extend the IMGT/V-Quest output you have downloaded in the step before. If the order of rows is shuffled or their number is not exactly the same, this can be a very tedious task. Instead, you can merge your tables using this tab. First, you should upload the IMGT/V-Quest output in the "Upload" tab, then define your second table's input format and specify the file by clicking on "Browse". Once the upload is completed, you can map the two tables by pressing the button "Map" in the bottom left. Please note that the first columns will be used for the identification of the rows so make sure that they hold the same information.
<br /><br /><br />
<img src="img/tutorials/imgTutorial_1_2_annotation.png" class = "imgInText" />
<br /><br /><br />