<h3 class = "h3text">Upload</h3>
<br />
<video width="940" controls preload = "none">
  <source src = "videos/BRepertoire_videos_1_1_upload.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_1_1_upload.ogg" type = "video/ogg">
</video>
<br /><br /><br />
<h3 class = "h3text">Annotate</h3>
<br />
<video width="940" controls preload = "none">
  <source src = "videos/BRepertoire_videos_1_2_annotate.mp4" type = "video/mp4">
  <source src = "videos/BRepertoire_videos_1_2_annotate.ogg" type = "video/ogg">
</video>
<br /><br /><br />