<br /><br />
<div class = "mainTextDivLarge">
  <h3 class = "h3headers">BRepertoire - Team</h3>
  <div style = "display: inline-block">
  <h3 class = "h3text">Fraternali lab</h3>
  <br />
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="img/people/franca.png" class = "imgInProfile">
          <br /><br /><br />
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h4>Prof. Franca Fraternali</h4>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Professor in Bioinformatics</p>
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>King's College London, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>franca.fraternali@kcl.ac.uk</p>
          <hr>
          <p class="w3-large"><b>Details</b></p><span class = "peopleText">
          Franca Fraternali specialises in bioinformatics and computational biology applied to molecular medicine. Her research aims at identifying the molecular determinants in the functioning or mis-functioning of protein structures and protein-protein interactions. The wider objective is to understand, at a molecular level, the nature of the interactions occurring in the cell. The group develops computational methods to analyse the available data on such interactions and molecular simulations to characterize and determine their stability. In recent years the laboratory has developed information-theoretic methods to analyse Protein-Protein Interaction (PPI) data and strategies to map detailed 3D structural information onto these. Tools, that have been developed in Franca's lab include the widely used <a href = "https://github.com/Fraternalilab/POPSCOMP" target = "_blank">POPS</a> / <a href = "http://mathbio.crick.ac.uk/wiki/POPSCOMP" target = "_blank">POPSCOMP</a> software and tools for the analysis of large multidomain proteins, including the recently published <a href = "http://fraternalilab.kcl.ac.uk/TITINdb" target = "_blank">TITINdb</a> webserver.</span>
          <br /><br />
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="img/people/Christian.png" class = "imgInProfile">
          <br /><br /><br />
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h4>Dr Christian Margreitter</h4>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Research Associate</p>
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>King's College London, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>christian.margreitter@kcl.ac.uk</p>
          <hr>
          <p class="w3-large"><b>Details</b></p><span class = "peopleText">
Since early 2017, Christian works as a Research Associate / PostDoc in the group of Franca Fraternali. His major interests lie on bioinformatics tool development, antibody related molecular dynamics simulations and machine learning approaches and force field parameter development. Before starting at his current position, he took part in the development of <a href = "http://vienna-ptm.univie.ac.at" target = "_blank">Vienna-PTM</a>, a webserver extending molecular dynamics (MD) simulations of proteins by post-translationally modified amino acids and in the improvement of parameters for various molecules in the context of the <a href = "http://www.gromos.net" target = "_blank">GROMOS</a> force fields. He is also the maintainer of the <a href = "http://www.github.com/MDplot/MDplot" target = "_blank">MDplot</a> R package, which offers visualisation methods for a variety of MD analysis results.</span>
          <br /><br />
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="img/people/HuiChun.jpg" class = "imgInProfile">
          <br /><br /><br />
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h4>Dr Hui-Chun (Grace) Lu</h4>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Research Associate</p>
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>University College London, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>g.lu@ucl.ac.uk</p>
          <hr>
          <p class="w3-large"><b>Details</b></p><span class = "peopleText">
          Hui-Chun is currently working on the Human immune system. She has developed the <a href = "http://fraternalilab.kcl.ac.uk/PinSnps/" target = "_blank">PinSnps</a> webserver while in the Fraternali lab and has moved in 2017 to join the group of Prof Claudio Stern at UCL. Ageing of immune system increases susceptibility to infection and decreases responses to vaccination. Previous studies show that antibodies from older people tend to have lower binding affinity, lower specificity and longer CDRH3 region.</span>
          <br /><br />
        </div>
      </div>
    </div>
    <br />
</div>
<div style = "display: inline-block">
<br />
<br />
<br />

  <h3 class = "h3text">Dunn-Walters lab</h3>
  <br />
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="img/people/dunnwaltersnew.jpg" class = "imgInProfile">
          <br /><br /><br />
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h4>Prof. Deborah Dunn-Walters</h4>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Professor of Immunology</p>
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>University of Surrey, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>d.dunn-walters@surrey.ac.uk</p>
          <hr>

          <p class="w3-large"><b>Details</b></p><span class = "peopleText">
          Deborah Dunn-Walters is Head of Section of Immunology in the Faculty of Health and Medical Sciences at the University of Surrey. Her group studies B cell development in Health and Disease, taking a quantitative repertoire approach to elucidate changes in humoral immunity with age and to discover antibodies useful in cancer and infectious disease.  They were the first to use high throughput sequencing of immunoglobulin repertoires to determine changes in repertoire between different types of B cells and to show that the B cell repertoire is compromised with age. Deborah has over 90 publications and is extremely grateful to the MRC, BBSRC, Dunhill Medical Trust, The Human Frontiers Science Programme, Research into Ageing and the Rosetrees Trust for supporting her research.</span>
          <br /><br />
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="img/people/ctownsend.jpg" class = "imgInProfile">
          <br /><br /><br />
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h4>Catherine Townsend</h4>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>PhD student</p>
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>King's College London, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>catherine.townsend@kcl.ac.uk</p>
          <hr>
          <p class="w3-large"><b>Details</b></p><span class = "peopleText">
          After completing my BSc in Biology with a Year in Industry/Research at Imperial College London, I began my PhD in the Dunn-Walters lab in October 2014. I am funded by a BBSRC-CASE studentship in collaboration with MedImmune. During B cell development, B cells that produce autoreactive antibodies are removed from the repertoire at the central tolerance checkpoint to prevent autoimmune disease. The aim of my PhD is to identify genetic and structural characteristics of autoreactive and self-tolerant antibodies with the hope that this information will be useful in the identification of antibodies for therapeutic purposes.</span>
          <br /><br />
        </div>
      </div>
    </div>
    <div class = "w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="img/people/alexander_s.jpeg" class = "imgInProfile">
          <br /><br /><br />
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h4>Dr Alexander Stewart</h4>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>PostDoc</p>
          <p><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>University of Surrey, UK</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>alexander.stewart@surrey.ac.uk</p>
          <hr>

          <p class="w3-large"><b>Details</b></p><span class = "peopleText">
          Alex completed his PhD on the consequences of climate change for teleost immunology and parasitology at Cardiff in 2016. In 2017 he joined the Dunn-Walters laboratory to develop and use single-cell technologies to investigate consequences of ageing on the B-cell repertoire.</span>
          <br /><br />
        </div>
      </div>
    </div>
</div>
</div>
<br /><br /><br />