<br /><br />
<div class = "mainTextDiv">
  <h2 style = "font-family: Bedrock, Georgia, Times; font-weight: bold">References</h2>
  <br />
  <div id = "bib_style">
  <ol>
    <li><span class = "name">C. Margreitter, H.-C. Lu, C. Townsend, A. Stewart, D. K. Dunn-Walters and F. Fraternali</span>: <span class = "title">"BRepertoire: A user-friendly web server for analysing antibody repertoire data"</span> <span class = "journal">NAR webserver issue, 2018</span> &#91;<a href = "http://dx.doi.org/10.1093/nar/gky276" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">V. Martin, Y.-C. Wu, C. Townsend, H.-C. Lu, S.J. O&#39;Hare, A. Mozeika, A. Coolen, D. Kipling, F. Fraternali, D.K Dunn-Walters</span>: <span class = "title">"Transitional B cells in early human B cell development – time to revisit the paradigm?"</span> <span class = "journal">Frontiers in Immunology, 7:546</span> &#91;<a href = "https://dx.doi.org/10.3389/fimmu.2016.00546" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">C.L. Townsend, J.M.J Laffy, Y.-C. Wu, S.J. O&#39;Hare, V. Martin, D. Kipling, F. Fraternali and D.K. Dunn-Walters</span>: <span class = "title">"Significant differences in physicochemical properties of human immunoglobulin kappa and lambda CDR3 regions"</span> <span class = "journal">Frontiers in Immunology, 7:388, 2016</span> &#91;<a href = "https://dx.doi.org/10.3389/fimmu.2016.00388" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">J.M. Laffy, T. Dodev, J.A. Macpherson, C. Townsend, H.-C. Lu, D. Dunn-Walters and F. Fraternali</span>: <span class = "title">"Promiscuous antibodies characterised by their physico-chemical properties: from sequence to structure and back"</span> <span class = "journal">Progress in Biophysics and Molecular Biology, 128:47-56, 2016</span> &#91;<a href = "https://dx.doi.org/10.1016/j.pbiomolbio.2016.09.002" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">D. Dunn-Walters</span>: <span class = "title">"The ageing human B cell repertoire: A failure of selection?"</span> <span class = "journal">Clin Exp Immunol., 183(1):50-6, 2016</span> &#91;<a href = "http://onlinelibrary.wiley.com/doi/10.1111/cei.12700/epdf" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">D. Bagnara, M. Squillario, D. Kipling, T. Mora, A.M. Walczak, L. Da Silva, S. Weller, D. Dunn-Walters, J.C. Weill, C.A. Reynaud</span>: <span class = "title">"A Reassessment of IgM Memory Subsets in Humans"</span> <span class = "journal">J Immunol., 195(8):3716-24, 2015</span> &#91;<a href = "http://www.jimmunol.org/content/195/8/3716.full.pdf" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">Y.C. Wu, D. Kipling, D. Dunn-Walters</span>: <span class = "title">"Assessment of B Cell Repertoire in Humans"</span> <span class = "journal">Methods Mol. Biol., 1343:199-218, 2015</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/26420719" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">V. Martin, Y.C. Bryan Wu, D. Kipling, D. Dunn-Walters</span>: <span class = "title">"Ageing of the B-cell repertoire"</span> <span class = "journal">Philos Trans R Soc Lond B Biol Sci., 370(1676), 2015</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/26194751" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">V. Martin, Y.C. Wu, D. Kipling, D. Dunn-Walters</span>: <span class = "title">"Age-related aspects of human IgM+ B cell heterogeneity"</span> <span class = "journal">Ann N Y Acad Sci., 2015</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/26152370" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">S.D. Boyd, Y. Liu, C. Wang, V. Martin, D. Dunn-Walters</span>: <span class = "title">"Human lymphocyte repertoires in ageing"</span> <span class = "journal">Curr Opin Immunol., 25(4):511-5, 2013</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4811628" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">Y.-C.B. Wu, D. Kipling and D. Dunn-Walters</span>: <span class = "title">"Age-related changes in human peripheral blood IGH repertoire following vaccination"</span> <span class = "journal">Front. Immun., 3:193, 2012</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/22787463" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">W. Yu-Chang, D. Kipling, D. Dunn-Walters</span>: <span class = "title">"The relationship between CD27 negative and positive B cell populations in human peripheral blood"</span> <span class = "journal">Frontiers Immunology, 2:81, 2011</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/22566870" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">W. Yu-Chang, D. Kipling, V. Martin, A. Ademokun, D. Dunn-Walters</span>: <span class = "title">"High throughput immunoglobulin repertoire analysis distinguishes between human IgM memory and switched memory B cell populations"</span> <span class = "journal">Blood, 116: 1070-1078, 2010</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/20457872" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">A. Bj&ouml;rkman, L. Du, M. van der Burg, V. Cormier-Daire, G. Borck, J. Pi&eacute;, B. Anderlid, L. Hammarstr&ouml;m, L. Str&ouml;m, J. de Villartay, D. Kipling, D. Dunn-Walters, Q. Pan-Hammarstr&ouml;m.</span>: <span class = "title">"Reduced immunoglobulin gene diversity in patients with Cornelia de Lange syndrome"</span> <span class = "journal">Elsevier Journal of Allergy and Clinical Immunology, 141 (1): 408-411, 2017</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/28826797" target = "_blank">link</a>&#93;
    </li>
    <li><span class = "name">W. Yu-Chang, D. Kipling, D. Dunn-Walters</span>: <span class = "title">"Assessment of B cell repertoire in humans"</span> <span class = "journal">Humana Press Methods in Molecular Biology, 1343: 199-218, 2015</span> &#91;<a href = "http://www.ncbi.nlm.nih.gov/pubmed/26420719" target = "_blank">link</a>&#93;
    </li>
  </ol>
  </div>
</div>