<br /><br />
<div class = "mainTextDiv">
  <h2 style = "font-family: Bedrock, Georgia, Times; font-weight: bold">Patch notes</h2>
  <h3 class = "h3text">Version 1.2.0</h3>
  <h4 style = "font-family: Bedrock, Georgia, Times; font-weight: bold">2018-XX-XX</h4>
  <table>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added the phylogenetic inference tab functionality to the analysis branch</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added the GET variable functionality to set the appropriate branch, tab and remote data from the URL directly</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">protected the job loggin functionality to reduce interference with execution</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed bug that led to the convolution of tab-delimited input due to the "remove special characters" functionality</td></tr>
  </table>
  <br /><br />
  <h3 class = "h3text">Version 1.1.0</h3>
  <h4 style = "font-family: Bedrock, Georgia, Times; font-weight: bold">2018-06-04</h4>
  <table>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added another normalization option to the "Barplot" tab, allowing to normalize according to the group</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added level ordering interface to the "Gene usage" tab for the 1D, 2D and 3D graphs, so that free sorting is now possible</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added another tab called "Public sequences analysis", which allows to search for shared levels (for example sequences) in different partitions of the data</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">activated disabling of the analysis drop-down menu in case the "Upload", "Select" or "Filter" tabs have changed to avoid inconsistencies in the "Analysis" branch</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed colour treatment of the gene frequency plots (export a named list of selections now), which caused various problems</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">when uploading, the removal of trailing white-spaces has been added to the set of pre-processing steps</td></tr>
  </table>
  <br /><br />
  <h3 class = "h3text">Version 1.0.0 - rc</h3>
  <h4 style = "font-family: Bedrock, Georgia, Times; font-weight: bold">2017-11-30</h4>
  <table>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added live tutorial implementation and description</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added clonotype clustering tab including the option to retrieve a suitable reference observation per clone</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added the "Extract" tab, allowing to excise certain parts from one column and deposit the result in a new one</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added "byGroup" functionality to the Barplot tab, allowing to normalize in respect to a given (outer) group on the x-axis rather than the overall observations of a level</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added the distribution analysis tab, implementing statistical tests, the calculation of effect sizes and histogram plots on the basis of two datasets</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added materials page</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added "auto-load" functionality to allow direct loading of the data into the workflow</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added a barplot tab for the quantitative comparision of levels between subsets of data</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">new server design finally in use</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">polishing and standardization of interface elements</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed analysis tab selector and improved usability</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issue with mal-formatted CSV files for some downloads - "additional first column bug"</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issue with video auto-pre-loading, which led to performance issues for weaker computers</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issue with contact form leading to a crash (server-side)</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issues with logging, leading to a mal-function when loading data in one of the three branches</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issue with string-sorting when numbers where involved</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed problem with the file name generation for the Box-and-Whisker plots</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">removed the "exact" option from the Kolmogorov-Smirnoff implementation, since always two samples are compared and it was therefore superfluous</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issues with support of devices with a display width below 1600px</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">set maximum number of levels per column in the Barplot tab to 100 to avoid instabilities</td></tr>
 <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issues with the download option for 1D and 2D gene usage plots</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed issues with some download handlers</td></tr>
  </table>
  <br /><br />
  <h3 class = "h3text">Version 0.9.0</h3>
  <h4 style = "font-family: Bedrock, Georgia, Times; font-weight: bold">2017-06-27</h4>
  <table>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added "t-SNE analysis" tab: multiple hyper-parameters might be set</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">rewrite of "PCA" tab: extended data basis for calculation, removal of 3D PCA option, composition-like interface, spread of data plottable</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/feature.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">added "distribution analysis" tab: allows comparisons of two (continuous) distributions, calculation of p-values and histogram plot generation</td></tr>
    <tr><td class = "patchnotesymbolcell"><img src = "img/bugfix.png" class = "patchnote_icon" border = "0"></td><td class = "patchnoteinfocell">fixed an issue with empty categories after repeated filtering</td></tr>
  </table>
</div>
