The <a id = "hyperlink_to_IMGT_branch" href="#" class="action-button">live tutorial</a> assists you with your very first steps using the BRepertoire server. When you engage the live tutorial, by clicking on the green button in one of the server's branches, an additional interface is shown on the left-hand side (above the other elements) for all tabs. Likewise, you can disengage the live tutorial mode by clicking the red button. In the additional interface, the server automatically performs the selections of the parameters, columns etc. that are described in the text- and video-tutorials. This allows you to simply follow the course of the tutorial by clicking the blue buttons on the bottom, one after the other. Have a close look at how the respective steps change the input elements on the left-hand side. The interface is fully operational, however, if you change manually the settings, you may not be able to proceed. If you want to know more about the rationale behind the selections made, please have a look at the tutorials or simply follow them manually on your own.
<br /><br /><br />
<img src="img/tutorials/liveTutorial_disengaged.png" class = "imgInText" />
<br />
<img src="img/tutorials/liveTutorial_engaged.png" class = "imgInText" />
<br /><br /><br />