/* main div for text */

.mainTextDiv
{
  width: 50%;
  min-width: 940px;
  margin: 0 auto;
  font-size: 14pt;
  text-align: justify;
  font-family: "Times New Roman";
}

.mainTextDivLarge
{
  width: 75%;
  min-width: 940px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14pt;
  text-align: justify;
  font-family: "Times New Roman";
}

/* h3 in texts (with underline) */
.h3text {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  font-size: 20pt;
  font-family: "Times New Roman";
}

/* h3 in page headers (with underline) */
.h3headers {
  margin-bottom: 24px;
  font-size: 24pt;
  font-weight: bold;
  font-family: "Times New Roman";
}

/* images in text (center and width) */
.imgInText
{
  display: block;
  margin: 0 auto;
  width: 950px;
}

/* images in profiles */
.imgInProfile
{
  border: none;
  height: 200px;
  margin: 15px 0px 20px 15px;
}

/* citations in text */
.cite_in_text {
  font-weight: normal;
  font-size: 12pt;
}

/* materials */
.materials {
  font-family: monospace;
  font-size: 10pt;
}

/* interface */
/* interface: headlines */
.h4_interface
{
  font-size: 18pt;
  font-weight: bold;
}
.h5_interface
{
  font-size: 14pt;
  font-weight: bold;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 2em;
}

/* buttons */
.button_blue,
.button_blue:hover {
  color: #FFFFFF;
  background-color: #2766A2;
  border-color: #2766A2;
}

.button_tutorial,
.button_tutorial:hover {
  color: #FFFFFF;
  background-color: #2766A2;
  border-color: #2766A2;
}

.button_tutorial_disabled,
.button_tutorial_disabled:hover,
.button_tutorial_disabled[disabled] {
  background-color: #DDDDDD !important;
  font-weight: bold;
  color: #000000 !important;
  cursor: not-allowed !important;
  border: 1px solid;
  border-color: #AAAAAA !important;
}

.link_tutorial_engage,
.link_tutorial_engage:hover,
.link_tutorial_engage:focus,
.link_tutorial_engage:active {
  color: #FFFFFF;
  background-color: #46A327 !important;
  border-color: #46A327 !important;
  line-height: 20px;
}

.link_tutorial_disengage,
.link_tutorial_disengage:hover,
.link_tutorial_disengage:focus,
.link_tutorial_disengage:active {
  color: #FFFFFF;
  background-color: #DF0101 !important;
  border-color: #DF0101 !important;
}

/* description span for live tutorial buttons */
.description_span_tutorial_buttons {
  display: inline-block;
  font-size: 12pt;
  padding-top: 4px;
  text-align: justify;
}

/* worflow tool-tip definitions */
@media (min-width: 1200px) {
  .workflow_ob_element {
  display: inline-block;
  width: 70%;
}
.workflow_ob_tooltip {
  display: inline-block;
  padding-left: 12px;
  width: 25%;
}
}
@media (min-width: 1900px) {
.workflow_ob_element {
  display: inline-block;
  width: 450px;
}
.workflow_ob_tooltip {
  display: inline-block;
  padding-left: 12px;
  width: 60px;
}
}
.workflow_ob_tooltip_valign_textInput {
  vertical-align: bottom;
  padding-bottom: 25px;
}
.workflow_ob_tooltip_valign_selectizeInput {
  vertical-align: bottom;
  padding-bottom: 35px;
}
.tooltips_in_headers {
  float: right;
  vertical-align: top;
}

.successbox{margin:20px 50px; padding:10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-moz-box-shadow: 4px 4px #dfe1d8;-webkit-box-shadow: 4px 4px #dfe1d8;box-shadow: 4px 4px #dfe1d8;}
.successbox h4 {margin:5px 5px 5px 5px;padding:0; font-size:21px;color:#2466A2;font-family: "Times New Roman";}
.successbox p {font-size:16px; color:#000; margin:5px 5px 5px 5px;font-family: "Times New Roman";}
.successbox{border:2px solid #2766A2;color:#000000;background:#FFFFFF}

/* order UI element styles */
.stab { list-style-type: none; margin: 0; padding: 0 }
li.stab { margin: 0; height: 2em; cursor: move }
html>body li.stab { height: 2em; line-height: 2em; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; width: 100%; display: inline-block; height: 100%; padding: 0 0 0 5px }
.ui-state-highlight { list-style-type: none; height: 2em; line-height: 2em }
.stab a { width: 100%; display: block; color: #FFFFFF; border-radius: 5px; border: 1px solid black; background: #AEA79F; padding: 0 5px 0 5px; font-weight: normal; margin-bottom: 0.2em; font-size: 1.25em; cursor: move; pointer-events: none }